.register {
  padding-top: 70px;
  max-width: 396px;
  margin: auto;
}

@media screen and (max-width: 400px) {
  .register {
    padding: 56px 30px 30px 30px;
  }
}

.register__heading {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
  margin-top: 22px;
}

@media screen and (max-width: 400px) {
  .register__heading {
    text-align: center;
    margin-bottom: 80px;
  }
}

.register__info {
  margin: 0;
  color: #a0a0a0;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
}

.register__input {
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 16px;
}

.register__input::placeholder {
  color: #000;
}

.register__password {
  margin-bottom: 10px;
  color: #ff3055;
}

.register__password-error {
  color: #ff3055;
  font-size: 10px;
  line-height: 12px;
}

.register__button {
  margin-top: 159px;
  padding: 14px 0;
  background-color: #3456f3;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .register__button {
    margin-top: 172px;
    font-size: 12px;
    line-height: 15px;
  }
}

.register__button:hover {
  opacity: 30%;
  transition: opacity 0.1s linear 0s;
}

.register__redirect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
}

.register__redirect-text {
  margin: 0;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 17px;
  margin-right: 6px;
}

.register__redirect-link {
  color: #3456f3;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.register__redirect-link:hover {
  opacity: 30%;
  transition: opacity 0.1s linear 0s;
}
