.login {
  padding-top: 70px;
  max-width: 396px;
  margin: auto;
}

@media screen and (max-width: 400px) {
  .login {
    padding: 56px 30px 30px 30px;
  }
}

.login__heading {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
  margin-top: 22px;
}

@media screen and (max-width: 400px) {
  .login__heading {
    text-align: center;
    margin-bottom: 80px;
  }
}

.login__info {
  margin: 0;
  color: #a0a0a0;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
}

.login__input {
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 16px;
}

.login__password {
  margin-bottom: 0;
}

.login__input::placeholder {
  color: #000;
}

.login__button {
  margin-top: 159px;
  padding: 14px 0;
  background-color: #3456f3;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  width: 100%;
}

.login__button:hover {
  opacity: 30%;
  transition: opacity 0.1s linear 0s;
}

@media screen and (max-width: 400px) {
  .login__button {
    margin-top: 267px;
    font-size: 12px;
    line-height: 15px;
  }
}

.login__redirect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 16px;
}

.login__redirect-text {
  margin: 0;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 17px;
  margin-right: 6px;
}

.login__redirect-link {
  color: #3456f3;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.login__redirect-link:hover {
  opacity: 30%;
  transition: opacity 0.1s linear 0s;
}
